.DS_Store
HelloSDL.xcodeproj/project.xcworkspace/contents.xcworkspacedata
HelloSDL.xcodeproj/project.xcworkspace/xcuserdata/thoughton.xcuserdatad/UserInterfaceState.xcuserstate
HelloSDL.xcodeproj/xcuserdata/thoughton.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
HelloSDL.xcodeproj/xcuserdata/thoughton.xcuserdatad/xcschemes/HelloSDL.xcscheme
HelloSDL.xcodeproj/xcuserdata/thoughton.xcuserdatad/xcschemes/xcschememanagement.plist